@model List<Palestra.Models.Sala>


<div style="padding-bottom: 10px">
    <a href="@Url.Action("Cadastrar","Sala")"><button type="button" class="btn btn-success">Nova Sala</button></a>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Salas</div>
    <table class="table table-bordered">
        <tr>
            <th>Nome</th>
            <th colspan="3">Numero</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Numero</td>
                @if (User.IsInRole("Admin"))
                {
                    <td><a href="@Url.Action("Editar", "Sala", new { id = @item.ID })" style="text-decoration: none;" class="glyphicon glyphicon-pencil"></a></td>
                    <td><a href="@Url.Action("Delete", "Sala", new { id = @item.ID })" style="text-decoration: none;" class="glyphicon glyphicon-remove"></a></td>
                }
            </tr>

        }

    </table>
</div>
