@model Palestra.Models.Palestrante
<div class="panel panel-default">
    <div class="panel-heading">Cadastrar Palestrante</div>
    @Html.ValidationSummary(true)
    <form action="" method="post" enctype="multipart/form-data">
        <div class="formularioCadastro">
            <div class="form-group">
                <label for="@Model.Nome">Nome</label>
                <input type="text" id="Nome" class="form-control" name="Nome" />
                @Html.ValidationMessageFor(x => x.Nome)
                <br />
                <label for="Twitter">Twitter</label>
                <input type="text" id="Twitter" class="form-control" name="Twitter" />
                @Html.ValidationMessageFor(x => x.Twitter)
                <br />
                <label for="Bio">Biografia</label>
                <input type="text" id="Bio" class="form-control" name="Bio" />
                @Html.ValidationMessageFor(x => x.Bio)
                <br />
                <label for="arquivo">Foto</label>
                <input type="file" id="arquivo" name="arquivo" />
            </div>
            <br />
            
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
    </form>
</div>