@model List<Palestra.Models.Palestrante>
<div style="padding: 30px;">
    <div style="padding-bottom: 10px">
        <a href="@Url.Action("Cadastrar","Palestrante")"><button type="button" class="btn btn-success">Novo Palestrante</button></a>
    </div>
    <table class="table">
        <tr>
            <th>
                Nome
            </th>
            <th>
                Biografia
            </th>
            <th>
                Twitter
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var palestrante in Model)
        {
            <tr>
                <td>@palestrante.Nome</td>
                <td>@palestrante.Bio</td>
                <td>@palestrante.Twitter</td>
                <td><a href="@Url.Action("Detalhe","Palestrante",new {id =@palestrante.ID})" style="text-decoration:none;" class="glyphicon glyphicon-tasks"></a></td>
                <td><a href="@Url.Action("Editar", "Palestrante", new { id = @palestrante.ID })" style="text-decoration: none;" class="glyphicon glyphicon-pencil"></a></td>
                <td><a href="@Url.Action("Delete", "Palestrante", new { id = @palestrante.ID })" style="text-decoration: none;" class="glyphicon glyphicon-remove"></a></td>
            </tr>

        }

    </table>
</div>