@model List<Palestra.Models.Trilha>
<div style="padding-bottom: 10px">
    <a href="@Url.Action("Cadastrar","Trilha")"><button type="button" class="btn btn-success">Nova Trilha</button></a>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Trilhas</div>
    <table class="table table-bordered">
        <tr>
            <th colspan="4">Nome</th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td><a href="@Url.Action("Editar", "Trilha", new { id = @item.ID })" style="text-decoration: none;" class="glyphicon glyphicon-pencil"></a></td>
                <td>
                    <a href="@Url.Action("Delete", "Trilha", new { id = @item.ID })" class="glyphicon glyphicon-trash"></a>
                </td>
                    
</tr>

        }

    </table>
</div>