@model Palestra.Models.Palestras
<div class="panel panel-default">
    <div class="panel-heading">Cadastrar Palestrante</div>
   @Html.ValidationSummary(true)
    <form action="" method="post">
        <div class="formularioCadastro">
            <div class="form-group">
                <label for="@Model.Nome">Nome</label>
                <input type="text" id="Nome" class="form-control" name="Nome" />
                @Html.ValidationMessageFor(x => x.Nome)
                <br />
                <label for="Titulo">Titulo</label>
                <input type="text" id="Titulo" class="form-control" name="Titulo" />
                @Html.ValidationMessageFor(x => x.Titulo)
                <br />
                <label for="Codigo">Codigo</label>
                <input type="text" id="Codigo" class="form-control" name="Codigo" />
                @Html.ValidationMessageFor(x => x.Codigo)
                <br />
                <label for="Descricao">Descricao</label>
                <input type="text" id="Descricao" class="form-control" name="Descricao" />
                @Html.ValidationMessageFor(x => x.Descricao)
                <br />
                <label for="Nivel">Nivel</label>
                <input type="text" id="Nivel" class="form-control" name="Nivel" />
                @Html.ValidationMessageFor(x => x.Nivel)
                <br />
                <label for="Horario">Horario</label>
                <input type="date" id="Horario" class="form-control" name="Horario"/>
                @Html.ValidationMessageFor(x => x.Horario)
                <br />
                @Html.DropDownList("PalestranteID", (SelectList)ViewBag.palestrantes, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.PalestranteID)
                <br />
                @Html.DropDownList("SalaID", (SelectList)ViewBag.salas, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.SalaID)
                <br />
                @Html.DropDownList("TrilhaID", (SelectList)ViewBag.trilhas, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.TrilhaID)

            </div>
            <br />

            <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
    </form>
</div>