@model List<Palestra.Models.Palestras>    
<div style="padding-bottom: 10px">
    <a href="@Url.Action("Cadastrar","Palest")"><button type="button" class="btn btn-success">Nova Palestra</button></a>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Palestras</div>
<table class="table table-bordered">
    <tr>
        <th>Titulo</th>
        <th>Nome</th>
        <th>Trilha</th>
        <th>Nivel</th>
        <th>Descriçao</th>
        <th colspan="4">Horario</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Titulo</td>
            <td>@item.Nome</td>
            <td>nome TRilha</td>
            <td>@item.Nivel</td>
            <td>@item.Descricao</td>
            <td>@item.Horario.ToString("dd/MM/yyyy")</td>
            <td><a href="@Url.Action("Editar", "Palest", new { id = @item.ID })" style="text-decoration: none;" class="glyphicon glyphicon-pencil"></a></td>
            <td><a href="@Url.Action("Delete", "Palest", new { id = @item.ID })" style="text-decoration: none;" class="glyphicon glyphicon-remove"></a></td>
        </tr>

    }

</table>
</div>
